<div class="container" ng-controller="aboutMeController">
  <div class="card">
    <img src="img/IMG_0439.jpg" class="card-img-top" alt="">
      <div class="card-header">
        <h2>Nunca rendirse</h2>
      </div>
    <div class="card-body">
      Investigador nato, me gusta estar al día con las nuevas tecnologías, soy una persona responsable que siempre cumple con las metas y objetivos propuestos, me desenvuelvo bien bajo cualquier situación buscando soluciones prácticas e innovadoras, nunca me doy por vencido siempre uso todos lo que este a mi alcance y más. La sinceridad, honestidad y responsabilidad son valores que definen como persona y profesional.   
    </div>
  </div>
</div>
<wb-contactame></wb-contactame>