
<img src="img/franyFondoApropos.jpg" class="imgApropos" alt="">
<div class='container'>
    <div class="row">             
        <div class="col">      
            <h1 class="textTitle">À PROPOS</h1>
            <h2 class="textTitle">C'est un plaisir,  Bienvenue à tous!!!</h2>
            <h2 class="textTitle">Bonjour à tous !!! </h2>
            <p class="text">
                Je suis une modèle fitness, je suis à Pari,  je suis vénézuélienne et j'habite à Paris. 
                Je suis une athlète professionnelle de fitness et mon corps est musclée.
                J'adore poser, J'ai beaucoup d'expérience dans différents styles.
                Je fais les styles suivants:
            </p>
            <ul>
                <li class="text">sport</li>          
                <li class="text">fashion</li>            
                <li class="text">lingerie </li>              
                <li class="text">nu artistique</li>  
                <li class="text">Charmé </li>             
            </ul>
              
            <p class="text">
                Si vous êtes intéressé ou pour plus d'informations n'hésitez pas à me contacter.
                (PERSONNES NON SÉRIEUSES S'ABSTENIR,  MERCI).
                Merci à tous les photographes, C'est un plaisir de poser pour vous.
            </p>
        </div>
    </div>
</div>