
<div class="fondo-negro">

    
    <div class='container'>

    <div class="row">             
        <div class="col-md-6">
            <img src="img/franyapros.jpg" class="imgApropos" alt="" width="450">
        </div>
        <div class="col-md-6">      
            <h1 class="letras-blancas">À PROPOS</h1>
            <h2 class="letras-blancas">C'est un plaisir,  Bienvenue à tous!!!</h2>
            <h2 class="letras-blancas">Bonjour à tous !!! </h2>
            <p class="letras-blancas">
                Je suis une modèle fitness, je suis vénézuélienne et j'habite à Paris. 
                Je suis une athlète professionnelle de fitness et mon corps est musclée.
                J'adore poser, J'ai beaucoup d'expérience dans différents styles.
                Je fais les styles suivants:
            </p>
            <ul>
                <li class="letras-blancas">Portrait</li>  
                <li class="letras-blancas">sport</li>          
                <li class="letras-blancas">fashion</li>            
                <li class="letras-blancas">lingerie </li>              
                <li class="letras-blancas">nu artistique</li>  
                <li class="letras-blancas">Charmé </li>   
                <li class="letras-blancas">Fétiches </li>            
            </ul>
              
            <p class="letras-blancas">
                Si vous êtes intéressé ou pour plus d'informations n'hésitez pas à me contacter.
                (PERSONNES NON SÉRIEUSES S'ABSTENIR,  MERCI).
                Merci à tous les photographes, C'est un plaisir de poser pour vous.
            </p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
