<div class="container">
    <h2>Herrmaientas que manejo</h2>
    <div class="row">
        <div class="card">
            <h5 class="card-title">Visual Code</h5>
            <img src="img/visualCode.png" alt="">
            <a href="#" class="badge badge-success">Success</a>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <h5 class="card-title">NetBeans</h5>
            <img src="img/netbeansicon.png" alt="">
            <a href="#" class="badge badge-success">Success</a>
        </div>
    </div>
</div>