<div ng-controller='LivreController' class="container">
    <button ng-click="formularioComentar()" class="btn btn-info">Dejar comentario</button>
   
      <form>
        <div class="form-group">
          <label>Titulo</label>
          <input type="text" class="form-control"  ng-model='titulo'>
        </div>
        <div class="form-group">
          <label >Usuario</label>
          <input  type="text" class="form-control" ng-model='usuario'>
        </div>
        <div class="form-group">
          <label>Comentario</label>
          <input type="text" class="form-control" ng-model='comentarioNuevo'>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="addComentario()" class="fondo">Comentar</button>
      </form>
      
    
    <div ng-repeat='comentario in comentario'>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{comentario.titulo}}</h5>
              <p class="card-text">{{comentario.comentario}}</p>
            </div>
          </div>
    </div>
</div>
