<div class="container" ng-controller ="mainController">
    <div class="row">
        <div class="col order-first card">
            <img src="img/desarrollo-web-image.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-text">Desarrollo web con las tecnologías más usadas y vanguardistas del mundo de la tecnología, aplicaciones con alta calidad de alto rendimiento y seguridad.</p>
            </div>
            
        </div>
        <div class="col card">
            <img src="img/desarrollo-movil.png" class="card-img-top" alt="">
            <div class="card-body">
                 <p class="card-text">Experiencia en el desarrollo de apps móviles, consumo de servicios y diseño intuitivo para las plataformas de Android y IOS</p>
             </div>
        </div>
        <div class="col order-last card">
            <img src="img/js-logo.png" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-text">Dominio avanazado del lenguaje JavaScript, el lenguaje más usado en la actualidad paro los framework con mayor demanda y versatilidad del mercado.</p>
            </div>
        </div>
    </div>
<wb-contactame></wb-contactame>
</div>