<div class="container text-center">
   <h1>Fit Modele</h1>
</div>
<div class="container text-center">
   <div class="row">
      <div class="col-sm-3">
         <div class="card" style="width: 18rem;">
            <img src="img/lingerie/imgFrany201.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#!/lingeiri"><h5 class="card-title aClass" style="background: cadetblue">Lingerie</h5></a>            
            </div>
          </div>
      </div>
      <div class="col-sm-3">
         <div class="card" style="width: 18rem;">
            <img src="img/fotoPortada2.jpg" class="card-img-top"  alt="...">
            <div class="card-body">
             <a href="#!/fashion"> <h5 class="card-title aClass" style="background: cadetblue">Fashion</h5></a>        
            </div>
          </div>
      </div>
      <div class="col-sm-3">
         <div class="card" style="width: 18rem;">
            <img src="img/sport/imgFrany401.jpg" class="card-img-top" alt="..." height="430">
            <div class="card-body">
             <a href="#!/sport"> <h5 class="card-title aClass" style="background: cadetblue">Sport</h5></a>     
            </div>
          </div>
      </div>
      <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
               <img src="img/nuartistique/imgFrany100.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                 <a href="#!/nuArtistique"><h5 class="card-title aClass" style="background: cadetblue">Nu artistique</h5></a>
               </div>
             </div>
         </div>
   </div>
</div>